<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">
    <!--link rel="stylesheet" type="text/css" href="stylesheets/header_min.css">--><!--실제 서버 적용 css-->
    <title>Title</title>
</head>
<body>
    <header id="header">

    </header>
    <div id="main_content">
        <div id="form">
            <h1 id="title">로그인</h1>
            <div id="login_form">
                <div id="username_container">
                    <p>id</p>
                    <input id="input_form" name="input" value="">
                </div>
                <div id="password_container">
                    <p>password</p>
                    <input id="input_form" name="input" value="">
                </div>
            </div>
            <div id="login_button">
                <button id="sign_up">가입</button>
                <button type="submit" id="submit">로그인</button>
            </div>
        </div>
    </div>
</body>
</html>